/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


header {
    background-image: url('../img/logo-inline.jpg');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    height:60px;
    background-color: #fff;
    padding:0px;
    margin:0px;
    text-align: right;
}

header a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(34, 68, 42);
    margin: 8px;
    border-radius: 5px;
    border: solid 2px #000;
    background-image: url('../img/contact.png');
    background-repeat: no-repeat;
    background-position: 3px 3px;

    background: #627d4d; /* Old browsers */
    background: -moz-linear-gradient(top,  #627d4d 0%, #1f3b08 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627d4d), color-stop(100%,#1f3b08)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #627d4d 0%,#1f3b08 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */

}

h1 {
    font-size: .8em;
    font-weight: bold;
    color: #FFF;
    text-align: CENTER;
    margin: 0px;
    background-color: #000;
    padding: 0px;
}

article {
    background-color: #eee;
    font-size: .8em;
    line-height: 15px;
    margin: 5px;
    padding: 5px;
    overflow:hidden;
    border-radius: 5px;
}

article p:first-child {
    margin-top: 0px;
    font-weight:bold;
}

article p {

}

article h4 {
    font-size: 1.2em;
    margin: 5px 0px;
    text-decoration: underline;
}

section footer {
    margin-top:-5px;
    text-align: right;
    padding-right: 10px;
    visibility:hidden;
}

section footer a{
    background-color: rgb(34, 68, 42);
    padding: 5px;
    font-size: 0.9em;
    text-decoration: none;
    color: #fff;
    border-radius: 0 0 5px 5px;

    
}

fieldset {
    margin:5px;
}

fieldset div {
    padding-right: 15px;
}

legend {
    font-size: 1em;
    color: #fff;
    padding: 0px 20px;
    text-align: center;
    line-height: 18px;
}

input {
    width: 100%;
    height: 25px;
    padding: 5px;
    border-radius: 5px;
}

button {
    border: solid 1px #000;
    background-color: rgb(34, 68, 42);
    color: #fff;
    height: 35px;
    margin-top: 12px;
    border-radius: 5px;
    width:100%;

background: #627d4d; /* Old browsers */
background: -moz-linear-gradient(top,  #627d4d 0%, #1f3b08 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627d4d), color-stop(100%,#1f3b08)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* IE10+ */
background: linear-gradient(to bottom,  #627d4d 0%,#1f3b08 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-9 */

}







/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 320px) {
    body {
        background-color:green;
    }
}


@media only screen and (min-width: 480px) {
    body {
        background-color:red;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color:yellow;
    }
}

@media only screen and (min-width: 1140px) {
    body {
        background-color:orange;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}